<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny Profile</title>
    <link rel="icon" type="image/png" href="https://source.unsplash.com/16x16/?nature" sizes="16x16">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        .bg-dynamic {
            background-size: cover;
            background-position: center;
            transition: background-image 1s ease-in-out;
        }
    </style>
</head>
<body class="bg-dynamic min-h-screen flex flex-col justify-between" id="dynamic-bg">
    <header class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <h1 class="text-4xl font-bold">My Profile <a href="https://gogreen2030.pythonanywhere.com/">(Go-Green 2030 vision)</a></h1>
        </div>
    </header>

    <main class="container mx-auto px-4 py-8 flex-grow">
        <!-- Profile Section -->
        <section id="profile" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl font-bold mb-4">Profile</h2>
            <div class="flex items-center">
                <img src="{{ user_profile.picture.url }}" alt="Profile Picture" class="w-24 h-24 rounded-full mr-4">
                <div>
                    <p><strong>Name:</strong> {{ user_profile.user.username }}</p>
                    <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
                    <p><strong>Gender:</strong> {{ user_profile.get_gender_display }}</p>
                    <p><strong>Address:</strong> {{ user_profile.address }}</p>
                    {% if user_profile.email %}
                        <p><strong>Email:</strong> <a href="mailto:{{ user_profile.email }}">{{ user_profile.email }}</a></p>
                    {% endif %}
                    {% if user_profile.phone %}
                        <p><strong>Phone:</strong> <a href="tel:{{ user_profile.phone }}">{{ user_profile.phone }}</a></p>
                    {% endif %}
                </div>
            </div>
        </section>
        

        <!-- Skills Section -->
        <section id="skills" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl font-bold mb-4">Skills</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for skill in skills %}
                <div class="p-4 bg-gray-100 rounded-lg shadow">
                    <h3 class="text-xl font-semibold">{{ skill.skill_name }}</h3>
                    <p><strong>Years of Experience:</strong> {{ skill.years_of_experience }}</p>
                    <p><strong>Proficiency Level:</strong> {{ skill.get_proficiency_level_display }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Education Section -->
        <section id="education" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl font-bold mb-4">Education</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for education in education_list %}
                <div class="p-4 bg-gray-100 rounded-lg shadow">
                    <h3 class="text-xl font-semibold">{{ education.degree_name }}</h3>
                    <p><strong>Institute:</strong> {{ education.institute }}</p>
                    <p><strong>Duration:</strong> {{ education.started_at }} - {% if education.ended_at %}{{ education.ended_at }}{% else %}Present{% endif %}</p>
                    <p><strong>Grade:</strong> {{ education.grade }}</p>
                    <p><strong>Division:</strong> {{ education.get_division_display }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Professional Experience Section -->
        <section id="experience" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl font-bold mb-4">Professional Experience</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
                {% for experience in professional_experience_list %}
                <div class="p-4 bg-gray-100 rounded-lg shadow">
                    <h3 class="text-xl font-semibold">{{ experience.job_title }}</h3>
                    <p><strong>Company:</strong> {{ experience.company_name }}</p>
                    <p><strong>Duration:</strong> {{ experience.start_date }} - {% if experience.end_date %}{{ experience.end_date }}{% else %}Present{% endif %}</p>
                    <p><strong>Description:</strong> {{ experience.description }}</p>
                </div>
                {% endfor %}
            </div>
        </section>

        <!-- Resume Section -->
        <section id="resume" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <h2 class="text-2xl font-bold mb-4">My CV</h2>
            {% if resume %}
            <div class="text-center">
                <a href="{{ resume.cv.url }}" download class="py-2 px-4 bg-green-500 text-white font-semibold rounded-md shadow hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">
                    Download My CV
                </a>
            </div>
            {% else %}
            <p class="text-center text-gray-500">CV is not available.</p>
            {% endif %}
        </section>  

            <!-- Portfolio Section -->
            <section id="portfolio" class="bg-white p-6 rounded-lg shadow-lg mb-8">
                <h2 class="text-2xl font-bold mb-4">Portfolio</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    {% for project in projects %}
                    <div class="relative">
                        <img src="https://source.unsplash.com/random/800x600/?{{ project.title }}" class="absolute inset-0 w-full h-full object-cover rounded-lg filter blur-sm" alt="Unsplash Image">
                        <div class="bg-gray-100 p-4 rounded-lg shadow relative z-10">
                            <h3 class="text-lg font-semibold mb-2">{{ project.title }}</h3>
                            <p class="text-gray-700 mb-4">{{ project.description }}</p>
                            <a href="{{ project.project_link }}" class="text-blue-500 font-semibold hover:text-blue-700">View Project</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            
            
            
        
            <!-- Services Section -->
           
<section id="services" class="bg-white p-6 rounded-lg shadow-lg mb-8">
    <h2 class="text-2xl font-bold mb-4">Services</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for service in services %}
        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h3 class="text-lg font-semibold mb-2">{{ service.title }}</h3>
            <p class="text-gray-700 mb-4">{{ service.description }}</p>
            <a href="https://wa.me/{{ service.whatsapp_number }}" class="text-blue-500 font-semibold hover:text-blue-700">Learn More</a>
        </div>
        {% endfor %}
    </div>
</section>

        
        {% for message in messages%}
        <script>
            alert('{{message}}');
        </script>
        {%endfor%}
        <!-- Contact Form Section -->
        <section id="contact" class="bg-white p-6 rounded-lg shadow-lg mb-8">
            <!-- Google Map -->
            
            <div class="mb-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3319.542824226286!2d72.48014481544358!3d35.27834498030388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38d9cd6ef12dc1d5%3A0x59606b2859c998c6!2sQalagay%2C%20Swat%2C%20Khyber%20Pakhtunkhwa!5e0!3m2!1sen!2s!4v1622670461781!5m2!1sen!2s" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
             
            
        
            <h2 class="text-2xl font-bold mb-4 text-center">Contact Me</h2>
            <form method="POST" class="space-y-4">
                {% csrf_token %}
                <div class="text-center">
                    <input type="text" name="name" id="name" placeholder="Your Name" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm sm:text-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
                </div>
                <div class="text-center">
                    <input type="email" name="email" id="email" placeholder="Your Email" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm sm:text-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
                </div>
                <div class="text-center">
                    <input type="text" name="subject" id="subject" placeholder="Subject" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm sm:text-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required>
                </div>
                <div class="text-center">
                    <textarea name="message" id="message" rows="4" placeholder="Your Message" class="mt-1 block w-full px-4 py-3 border border-gray-300 rounded-md shadow-sm sm:text-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">Send Message</button>
                </div>
            </form>
        
            <!-- Social Links -->
            <!-- social_media.html -->
<div class="mt-4 flex justify-center">
    {% for social_media in social_media_links %}
    <a href="{{ social_media.link }}" class="text-gray-500 hover:text-blue-500 mx-2" target="_blank" rel="noopener noreferrer">
        {% if social_media.platform == "Facebook" %}
        <i class="fab fa-facebook-f"></i>
        {% elif social_media.platform == "Twitter" %}
        <i class="fab fa-twitter"></i>
        {% elif social_media.platform == "Instagram" %}
        <i class="fab fa-instagram"></i>
        {% elif social_media.platform == "LinkedIn" %}
        <i class="fab fa-linkedin-in"></i>
        {% elif social_media.platform == "WhatsApp" %}
        <i class="fab fa-whatsapp"></i>
        {% elif social_media.platform == "YouTube" %}
        <i class="fab fa-youtube"></i>
        {% elif social_media.platform == "Pinterest" %}
        <i class="fab fa-pinterest"></i>
        {% elif social_media.platform == "TikTok" %}
        <i class="fab fa-tiktok"></i>
        {% elif social_media.platform == "Snapchat" %}
        <i class="fab fa-snapchat-ghost"></i>
        {% elif social_media.platform == "GitHub" %}
        <i class="fab fa-github"></i>
        {% endif %}
    </a>
    {% endfor %}
    <!-- Add more social icons as needed -->
</div>

        </section>
        
        
        
        
        
    </main>

    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024  <a href="https://gogreen2030.pythonanywhere.com/">Go-Green</a>. All rights reserved.</p>
        </div>
    </footer>

    <script>
        const images = [
            'https://source.unsplash.com/random/1600x900?nature',
            'https://source.unsplash.com/random/1600x900?city',
            'https://source.unsplash.com/random/1600x900?technology',
            // Add more image URLs as needed
        ];

        function changeBackgroundImage() {
            const randomIndex = Math.floor(Math.random() * images.length);
            const bgElement = document.getElementById('dynamic-bg');
            bgElement.style.backgroundImage = `url(${images[randomIndex]})`;
        }

        // Change background image every 5 seconds
        setInterval(changeBackgroundImage, 7000);
        // Initial background image
        changeBackgroundImage();
    </script>
</body>
</html>
